WEB_CORS_ORIGINS = *
WEB_CORS_EXPOSE_HEADERS = *

DB_USER = admin
DB_PASSWORD = 123123
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = my_db


OSS_ENDPOINT= ***

OSS_BUCKET_NAME=***

OSS_ACCESS_KEY_ID=***

OSS_ACCESS_KEY_SECRET=***