WEB_CORS_ORIGINS = *
WEB_CORS_EXPOSE_HEADERS = *
WEB_JWT_SECRET_KEY = *

DB_USER = admin
DB_PASSWORD = 123123
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = my_db


# 慢查询的警告阈值，单位毫秒
LOG_SLOW_QUERY_THRESHOLD=200

LOG_LEVEL = debug